page-wifi {
    .row-image {
        position: absolute;;
        right: 20pt;
        width: 15pt;
        margin-top: 12.5pt;
        margin-bottom: 12.5pt;
        background-color: transparent;
    }	

}
