page-home {
.logo {
    width: 20%;
    margin-top: 40px;
    margin-left: 40%;

    img {
        width: 100%;

    }
}	
.intro1 {
    color: #FFFFFF;
    font-size: 21pt;
    line-height: 120%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;

}

.intro2 {
    color: #FFFFFF;
    font-size: 11pt;
    line-height: 130%;
    margin-top: 2vw;
    text-align: center;

}

.privacyFooter {
    color: #FFFFFF;
    font-size: 11pt;
    line-height: 130%;
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;
    text-align: center;
}

.button-center {
    text-align: center;
}

.login-button {
    
    color: rgba(0, 173, 170, 1);
    background-color: #FFFFFF;
    border-radius: 40px;
    font-size: 15pt;
    padding-top: 12pt;
    padding-bottom: 12pt;
    text-align: center;
    margin: 0 auto;
    width: 240px;
}

.signUp-button {
    @extend .login-button;
    color: white;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 2pt;

}

}
