page-train-info {


.col-left {
   
    color: rgba(0, 0, 0, 1);
    padding-bottom: 13.5px;
    padding-top: 13.5px;
    height : 40px;
    font-weight: normal;
    font-size: 13pt;
    width: 50%;	
    padding-left: 30px;
}

.col-right {
   
    color: rgba(92, 197, 193, 1);    
    font-weight: bold;
    font-size: 13pt ;
    width: 50%;
    padding-right: 30px;
    padding-bottom: 13.5px;
    padding-top: 13.5px;
    height : 40px;
    
}

}
